link(rel="shortcut icon" href="http://www.newdesignfile.com/postpic/2013/11/monopoly-icons_75835.png" type="image/x-icon")
link(rel="icon" href="http://www.newdesignfile.com/postpic/2013/11/monopoly-icons_75835.png" type="image/x-icon")
