link(rel="shortcut icon" href="https://www.shareicon.net/download/2015/08/19/87562_grey_1042x1042.png" type="image/x-icon")
link(rel="icon" href="https://www.shareicon.net/download/2015/08/19/87562_grey_1042x1042.png" type="image/x-icon")
