#playerControls.workArea
    .name.title= user.name
    .data
        .isMyTurn(class= isGoing ? "going" : "not-going" )= !isGoing ? "Not my turn" : "My turn"
        .money= "Money = "
            span#money= user.money
    .actions
        .moneyInput
            input(type="number" placeholder="Сумма" disabled= !isGoing min="0")#input
        .moneyBtns
            button( disabled = (!isGoing) )#minus.btn Передать деньги
        .endTurnBtns
            button( disabled = (!isGoing || turnsBeforeCircle != 0) )#gotCircle.btn Прошел круг
            button( disabled = !isGoing )#nextPlayer.btn Передать ход
    script= `let turnsBeforeNewCircle = ${turnsBeforeCircle};`         