.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    min-width: 180px;
}

#url{
    font-size: 1.4em;
    margin-bottom: 20px;
}
#url:hover {
    color: var(--blue);
    cursor: pointer;
}

#players-cont{
    display: block;
}

.title{
    font-size: 2em;
    padding-bottom: 20px;
}

.player{
    padding: 15px;
    font-size: 1.5em;
    cursor: pointer;
    text-align: center;
    margin-bottom: 5px;
    border: 1px solid transparent;
}
.player:hover {
    color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 8px;
}

.row{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px){
    #url{
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 300px){
    #url{
        font-size: 0.8em;
    } 
    .title{
        font-size: 1.4em;
    }
    .player{
        padding: 9px;
        font-size: 1em;
    }
}