.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



#url{
    font-size: 1.4em;
    margin-bottom: 20px;
}
#url:hover {
    color: #54a4ff;
    cursor: pointer;
}

#players-cont{
    display: block;
    margin-top: 30px;
}

.title{
    font-size: 2em;
}

.player{
    padding: 15px;
    font-size: 1.5em;
    cursor: pointer;
}

.row{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px){
    #url{
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 300px){
    #url{
        font-size: 0.8em;
    }
}