doctype html
html
    head
        title Pick players
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(
            rel="stylesheet"
            href="../public/pickPlayersPage/pickPlayers.css"
        )
        include includes/iconLink
        include includes/linkCommon
    body
        .container.center
            span#url Копировать ссылку на игру
            .center.content
                if !allPicked
                    .title Pick your name
                    #players-cont
                        if (players && players.length > 0)
                            for player in players
                                    if (!player.isPicked)
                                        .player.center(id= player.id)= player.name
                else
                    .title All players is picked
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        script(src="../public/pickPlayersPage/pickPlayers.js")