doctype html
html
    head
        title Starter settings
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        include includes/linkCommon
        include includes/iconLink
        link(
            rel="stylesheet"
            href="../../public/starterSettings/settings.css"
        )
    body.center
        .container.center
            .grid-container
                include './includes/starterSettings/playersSection.pug'
                include './includes/starterSettings/settings.pug'
            if !isStartSettingsDone
                .bg-cont
                    .change-sequence-cont
                        div.title Choose players by circle
                        div.change-sequence-players
                        button#closeChangeSequence.negativeBtn Close
        if !isStartSettingsDone
            script(type="text/javascript").
                const gameId = `#{gameId}`;

            script(src="../../public/starterSettings/settings.js")
            script(src="https://unpkg.com/axios/dist/axios.min.js")