doctype html
html
    head
        meta(name="keywords" content="Monopoly, Монополия, помошник, банкир, helper, banker, bank, банк")
        meta(name="description" content="This app could help with bank management in monopoly game")
        title Starter page
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(
            rel="stylesheet"
            href="./public/starterPage/starter.css"
        )
        include includes/iconLink
        include includes/linkCommon
    body(style= {height: "100vh"})
        div(style={height: "100vh"}).container.center
            .center
                p Create new game room
                button#createNewRoomBtn Create
        script(src="./public/starterPage/starter.js")
        script(src="https://unpkg.com/axios/dist/axios.min.js")