* {
	font-size: 1.2rem;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
button {
	background: transparent;
	border: 1px solid var(--blue) !important;
	padding: 5px 4rem;
	margin-top: 10px;
	color: var(--blue);
}
button:hover {
	color: var(--white);
	background-color: var(--blue);
}
