* {
    font-size: 1.2rem;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button{
    background: transparent;
    border: 1px solid black;
    padding: 5px;
    margin-top: 10px;
}
button:hover{
    color: var(--blue);
    border-color: var(--blue);
}