* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    border: none;
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}

input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
}

button {
    font-size: 1.1rem;
    border-radius: 5px;
}

.container,
.bg-cont {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

.center {
    justify-self: center;
    align-self: center;
}

.notification {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 150px;
    max-width: 300px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification.error {
    background-color: var(--danger);
}

.notification.warn {
    background-color: var(--warning);
}

.notification.info {
    background-color: var(--blue);
}

.notification.success {
    background-color: var(--teal);
}

.notification-remove {
    position: absolute;
    top: 0;
    right: 5px;
    color: white;
    font-size: 1.2rem;
    vertical-align: top;
    cursor: pointer;
}