* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    border: none;
}

.container,
.bg-cont {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

.center {
    justify-self: center;
    align-self: center;
}

.notification {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 150px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification.error {
    background-color: #FF4C4C;
}

.notification.warn {
    background-color: #FFD14C;
}

.notification.info {
    background-color: #4CA9FF;
}

.notification.success {
    background-color: #4CFF64;
}

.notification-remove {
    position: absolute;
    top: 0;
    right: 5px;
    color: white;
    font-size: 1.2rem;
    vertical-align: top;
    cursor: pointer;
}