* {
    margin: 0;
    padding: 0;
    border: 0;
}

p {
    padding: 0;
    margin: 0;
}

button {
    background-color: transparent;
    border: 1px solid black;
}

input {
    border: 1px solid black;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 3fr 5fr;
    height: 60%;
}

.change-sequence-cont {
    height: 60%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px
}

.bg-cont {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
}


.setting {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
    justify-content: space-between;
}

.time-on {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.setting * {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 21px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
    padding-top: 5px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 18px;
}

.slider.round:before {
    border-radius: 50%;
}


h3 {
    text-align: center;
}

.players {
    border: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 390px;
    padding: 0 10px;
}

.player {
    text-align: center;
    cursor: pointer;
    padding: 5px;
    border: 1px solid black;
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.isBanker{
    display: flex;
    justify-self: center;
    align-self: center;
}

.player-cont,
.add-player-cont {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 60% 1fr;
}

.delete {
    color: #D72323;
    align-self: center;
    justify-self: center;
    text-align: center;
    padding: 3px;
    cursor: pointer;
}

h5 {
    font-size: 1.4em;
}

h5 > * {
    font-size: 1.1em
}

.end-line {
    display: flex;
    margin-top: auto;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
}

.end-line > * {
    padding: 0;
    margin: 0;
}

.end-line button {
    background-color: transparent;
    border: none;
    font-size: 0.7em;
    padding: 5px;
}

.end-line .maxP {
    font-size: 0.5em;
}

.banker,
.players-cont {
    margin: 20px 0;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input {
    display: flex;
    align-items: center;
    width: fit-content;
}
.input input:not([type="checkbox"]){
    width: 4vw;
}
.input * {
    padding: 0;
    margin: 0;
}

.texti {
    min-width: 60px;
    width: 40%;
}

.buttons {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: space-around;
}

.bts {
    justify-content: space-between;
}

.buttons button {
    padding: 7px;
}

.settings-buttons {
    display: grid;
    grid-template-rows: 1fr 40px;
}

.blocked {
    border-color: #cccccc;
}
.blocked * {
    color: #cccccc !important;
}
.blocked input {
    border-color: #cccccc;
}

.changing {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 5px;
}

.changing > input {
    width: 100%;
    padding: 0 3px;
}

.btn-cont {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.btn-cont button {
    padding: 0 3px;
    border: none;
}

.btn-cont #confirm {
    background-color: #23D735;
    color: white;
}

.btn-cont #reject {
    background-color: #D72323;
    color: white;
}

#next {
    background-color: #23D735;
    border: none;
}

#reset {
    background-color: #D72323;
    border: none;
}

@media screen and (max-width: 1300px) {
    input {
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 768px) {
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 20px;
        margin: auto;
        box-sizing: border-box;
        height: 710px;
    }
    .container{
        display: flex;
        align-self: center;
        max-height: none;
    }
    .players-cont{
        height: 50vh;
    }
    .container{
        padding: 20px auto;
        box-sizing: border-box;
    }
    .bg-cont{
        height: 100%;
    }
    .settings-buttons{
        grid-template-rows: auto;
    }
}
@media screen and (max-width: 400px){
    .setting {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 320px){
    .container,
    .grid-container {
        width: 100vw;
        padding: 0;
    }
    .player-cont {
        grid-template-columns: repeat(3,1fr);    
        font-size: 0.8rem;
    }
    .add-player-cont {
        font-size: 0.8rem;
        padding: 5px;
    }
}