.players
    .players-cont 
        div.head.player-cont
            span.isBankerSpan Banker
            span.title Players
            span.deleteSpan Delete
        if players
            for i in players
                div(id = i.id).player-cont
                    input(disabled = isStartSettingsDone  checked = startSettings.bankerId==i.id type = "checkbox" data-id = i.id).isBanker
                    .player= i.name
                    if !isStartSettingsDone
                        button.delete x
        if !maxPlayers && !isStartSettingsDone
            .add-player-cont
                button.add-player.player Add player
    if !isStartSettingsDone
        .end-line
            p.maxP.center Max 6 players*
            button#change-sequence-btn Change sequence